.App {
  text-align: center;
}

body,
html {
  color: rgb(69, 223, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
  border: 2px solid #d31b58;
  background: none;
  color: rgb(124, 10, 90);
}
button:hover {
  background-color: #f3fa95;
}